
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titls {
  margin: 0;
  border-bottom: 0.2rem inset rgb(0, 26, 255);
}

.info {
  margin: 0.5rem;
  padding: 1.5rem;
  border: 0.2rem solid rgb(0, 26, 255);
  border-radius: 3.5rem / 5rem;
  width: 100%;
  -webkit-transition-duration: 0.15s; 
  transition-duration: 0.15s;
  background-color: rgba(104, 104, 104, 0.068);
}

.info:hover {
  border: 0.2rem solid rgba(4, 233, 42, 0.432);
  background-color: rgba(32, 32, 32, 0.2);
}

.info h3 {
  margin: 0.1rem;
}

.forms {
    display: flex;
    justify-content: center;
}

.listInfo {
    width: 90vh;
    border: 0.05rem solid black;
    margin: 0.3rem;
}

.daysMap {
    padding: 0.1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
}

.strelka {
  content: '';
  color:blue;
  display: inline-block;
  margin-top: 3.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid;
  border-right: 0.5em solid;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-duration: 0.15s; 
    transition-duration: 0.15s;
}


  .strelka:hover {
    color:#4CAF50; 
  }

  .contant {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;

  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 70%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .myInput {
    padding: 0.4rem 0.8rem;
    margin: 1rem;
    border-color: rgb(0, 3, 160);
    color: rgb(0, 3, 160);
    background-color: rgba(237, 238, 238, 0.089);
    border-radius: 0.6rem / 0.6rem;
    text-align: center;
    -webkit-transition-duration: 0.15s; 
    transition-duration: 0.15s;
    
  }

  .myInput:hover{
    cursor: auto;
    background-color: rgba(237, 238, 238, 0.4);
    color: black;
    border-color: #4CAF50;
  }

  h3 {
    -webkit-transition-duration: 0.15s; 
    transition-duration: 0.15s;
  }

  h3:hover {
    color: blue;
  }

  button {
    margin: 0.15rem;
    padding: 0.4rem;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: rgb(6, 9, 207);
    border-color: rgb(0, 3, 160);
    color: white;
    -webkit-transition-duration: 0.15s; 
    transition-duration: 0.15s;

}

  button:hover {
    cursor: pointer;
    background-color: #4CAF50; 
    color: white;
    border-color: #4CAF50;
}

.About-header {
 text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 0.25rem solid blue;
}

.About-header button {
  position: fixed;
  left: 5px;
  top: 7px;
  
}

.About-header h2 {
  padding: 0.5rem;
  margin-bottom: 5px;
}

.iconDay {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

.description {
  text-align: center;
  width: 50%;
}

.icon {
  color: rgb(6, 9, 207)
}

.tooltipOne {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.tooltipOne .tooltiptextOne {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 15%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltipOne .tooltiptextOne::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipOne:hover .tooltiptextOne {
  visibility: visible;
  opacity: 1;
}


@media only screen and (max-width: 550px) {
  .info {
    margin: 0.8rem;
    padding: 1.5rem;
    width: 100%;
    border: 0.2rem solid rgb(0, 26, 255);
    border-radius: 2rem 2rem;
  }

  button {
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 0.2rem;
    font-size: 0.5rem;
  }

  input {
    font-size: 0.6rem;
  }

  .myInput {
    border-radius: 0.2rem / 0.2rem;
  }
}